.estimater {
    padding: 32px 32px 64px;
}
.disclaimer {
    width: fit-content;
    margin: 0 auto 12px;
    text-align: center;
}
.disclaimer h1 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 12px;
}
.disclaimer p {
    margin: 8px auto;
}
.link {
    text-decoration: underline;
}
.estimater form {
    max-width: 900px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
}
.formGroup {
    display: flex;
}
.formSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}
.formGroupAir {
    display: flex;
}
.estimater form h2 {
    width: 100%;
    font-size: 32px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 12px;
    background: black;
    color: white;
    padding: 12px;
}
.estimater form h3 {
    font-size: 18px;
    margin-top: 24px;
    padding-right: 24px;
    margin-right: auto;
}
.estimater form h4 {
    font-size: 18px;
    margin-top: 24px;
    padding-right: 24px;
    margin-right: auto;
}
.formRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    width: 100%;
}
.formRowAir {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    width: 100%;
}
.formRow label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}
.formRowAir label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}
.allBox {
    display: none !important;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-left: 6px;
    margin-right: -12px;
}
.allBox label {
    font-weight: 400;
    font-size: 14px;
}
.allBox input {

}
.estimater form input {
    width: 50px;
    height: 40px;
    background: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.estimater form button {
    width: 40px;
    height: 40px;
    background: var(--yellow);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.estimater form button:disabled {
    opacity: 0.5;
}
.switcher {
    display: flex;
}
.formItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 12px;
}
.estimater input[type='checkbox'] {
    margin: 0;
}
.price {
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    position: fixed;
    width: 100%;
    padding: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: white;
    z-index: 5;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote {
    display: flex;
    margin-bottom: 12px;
}
.quote p {
    margin: 0;
}
.price button {
    border: 3px solid black;
    height: 40px;
    background: none;
    font-weight: 600;
    margin-left: 24px;
    border-radius: 88vw;
}
@media screen and (max-width: 1024px) {
    .price a {
        width: 100%;
    }
    .disclaimer h1 {
        font-size: 32px;
    }
    .disclaimer {
        max-width: 280px;
    }
    .formRow label {
        text-align: left;
    }
    .formGroup {
        display: block;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        transition: all 0.5s;
    }
    .formSection {
        max-height: 0;
        overflow: hidden;
    }
    .estimater {
        padding: 32px 16px;
    }
    .formItem {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 12px 0;
    }
    .allBox {
        display: none;
    }
    .formRow {
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 24px);
    }
    .estimater form h3 {
        padding: 24px 36px 12px 0;
        width: 100%;
        margin: 0;
        position: relative;
    }
    .estimater form h3::after {
        content: '';
        background: white;
        width: 30px;
        height: 30px;
        background-image: url(/down.webp);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s;
        border-radius: 50%;
        padding: 8px;
    }
    .estimater form h2 {
        position: relative;
        font-size: 20px;
        line-height: 24px;
    }
    .formRowAir {
        width: 95%;
    }
    .estimater form h2::after {
        content: '';
        background: white;
        width: 20px;
        height: 20px;
        background-image: url(/down.webp);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s;
        border-radius: 50%;
        padding: 8px;
    }
    .formRow label {
        margin: 0;
    }
    .estimater form {
        max-width: 500px;
        width: 100%;
    }
}