.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 240px;
    width: 100%;
    background-image: url("/handshake-fade.webp");
    background-size: 100%;
    background-position: center;
}
.flag {
    background-image: linear-gradient(163deg, var(--dark) 0%, var(--dark) 52%, transparent 51% );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-right: 47%;
    margin-bottom: 72px;
    text-transform: uppercase;
}

@media screen and (max-width: 820px) {
    .hero {
        background: var(--dark);
        height: 100px;
    }
    .flag {
        width: 100%;
        background-size: 200%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .flag h1 {
        font-size: 36px;
        line-height: 36px;
        margin: 0;
    }
}