.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 240px;
    width: 100%;
    background-image: url("/handshake-fade.webp");
    background-size: 100%;
    background-position: center;
}
.flag {
    background-image: linear-gradient(to right,
        var(--yellow-80) 0%,
        var(--yellow-80) 80%,
        transparent
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .hero {
        background-position: 50%;
        height: 100px;
    }
    .flag {
        width: 100%;
        background-size: 200%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .flag h1 {
        font-size: 36px;
        line-height: 36px;
    }
}