.item {
    padding-top: 0;
    padding-bottom: 48px;
}
.subItem {
    width: 100%;
    margin: 0 0 36px 0;
    display: flex;
    justify-content: center;
}
.imgContainer {
    height: 300px;
    width: 500px;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    margin: 86px auto auto 5%;
}
.left {
    width: 50%;
    margin-left: 5%;
}
.flag {
    background-image: url("/grey-flag.webp");
    width: 50%;
    height: 85px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 24px 0 24px auto;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.row > :first-child {
    width: 15%;
}
.row > :nth-child(2) {
    width: 85%;
}
.row > :nth-child(3) {
    width: 60%;
    margin-left: 27.5%;
    height: 60px;
    border: 3px solid black;
    background: transparent;
    display: flex;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 99vw;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}
.row h4 {
    text-transform: capitalize;
    margin: 0;
}
.left h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    margin-left: 15%;
}
.left p {
    margin-top: 0;
}