.family {
    width: 100%;
    height: 41.66vw;
    background-image: url("/mom-and-dad.webp");
    background-size: cover;
    padding-top: 48px;
}
.flag {
    width: 60%;
    height: 150px;
    margin-left: auto;
    background-image: url("/yellow-big-right-down.webp");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag h2 {
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.whiteFlag {
    width: 60%;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    margin-left: auto;
    margin-top: 20px;
}
.family p {
    margin: auto;
    max-width: 600px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}