@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --yellow: #FFEB00;
  --gray: #F8F8F8;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}
.btn {
  width: 320px;
  height: 60px;
  border-radius: 99vh;
  border: 3px solid black;
  background: var(--yellow);
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.05);
}
.why.btn {
  margin: 0 auto !important;
}
.nav-bullet {
  border-radius: 50%;
  border: 2px solid black;
  height: 15px;
  width: 15px;
}
.nav-bullet:not(:last-child) {
  margin-right: 10px;
}
.active-bullet {
  background: black;
}
input:focus, textarea {
  outline: none !important;
}

.fixed-contact {
  border-radius: 50%;
  height:75px !important;
  width:75px !important;
  position: fixed !important;
  top: unset !important;
  bottom: 5% !important;
  right: 5% !important;
  z-index: 5;
  background-image: url("/mail.png") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  cursor: pointer;
}
.fixed-contact * {
  opacity: 0 !important;
}
.goingDown * {
  transition: all 0.3s 0.3s !important;
}
.contact-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: none;
  transition: all 0.5s, z-index 0s 0.5s;
}
.contact-modal * {
  opacity: 0;
  transition: all 0.5s;
}
.modal-open {
  transition: all 0.5s, z-index 0s !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}
.contact-modal.modal-open * {
  opacity: 1;
}
.content-container {
  position: relative;
}
.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 32px;
  z-index: 999;
  cursor: pointer;
}
.contact-form {
  width: 50vw;
  min-height: 400px;
  padding: 30px;
  background: white;
  text-align: center;
  position: relative;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}
.contact-form form textarea {
  resize: none;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}
.contact-form button {
  border: 3px solid black;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 1px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto 12px;
  background: transparent;
  font-weight: 700;
}
.skip-to-contact {
  position: absolute;
  bottom: 2%;
  right: 5%;
  text-decoration: underline;
  font-size: 12px;
}
.contact-form form label {
  margin: 24px 0 12px;
  text-align: left;
  font-size: 12px;
}
.bold {
  font-weight: 700;
}
.bigBtn {
  width: fit-content;
  padding: 0 18px;
  margin: 48px auto 0;
}

.question {
  padding: 24px 0;
  position: relative;
}
.question::after {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url("/down.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  right: 0;
  transition: all 0.3s;
}
.open .question::after {
  transform: rotate(180deg);
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.answer p {
  padding: 12px 0;
}
.active-spot {
  display: block !important;
}
.menu-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 24px 0;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid transparent;
  width: fit-content;
  transition: all 0.3s;
}
.menu-item.active-spot {
  font-size: 24px;
  border-bottom: 1px solid black;
}