.header {
    height: 47.22vw;
    width: 100%;
    background-image: url("/hero.webp");
    background-size: cover;
    position: relative;
    padding-top: 80px;
}
.h1 {
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 942px;
    height: 150px;
    background-image: url("/flag-left-yellow.webp");
    background-size: cover;
}
.h1 h1 {
    margin-left: 80px;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}
.h2 {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 669px;
    height: 110px;
    background-image: url("/flag-left-black.webp");
    background-size: cover;
}
.h2 h2 {
    margin-left: 80px;
    color: white;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.iicrc {
    display: flex;
    align-items: center;
    margin-left: 56px;
    height: 70px;
    width: 311px;
    margin-top: 24px;
}
.iicrcImageContainer {
    position: relative;
    height: 70px;
    width: 70px;
    margin-right: 12px;
    flex-shrink: 0;
}
.iicrc h3 {
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}