.why {
    background: var(--gray);
    padding: 64px 5% 48px 5%;
}
.why h2 {
    text-transform: uppercase;
    margin-bottom: 12px
}
.why p {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 655px;
    margin: 0 auto;
}
.cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}
.card:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.card {
    width: 350px;
    height: 500px;
    background: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    margin: 0px 25px 0px 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.imgContainer {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 50px auto 30px;
    filter: brightness(0);
}
.flag {
    width: 100%;
    background: var(--yellow-80);
    clip-path: polygon(0 0, 95% 0, 90% 100%, 0% 100%);
    background-size: 100% 100%;
}
.flag h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}
.card p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.why.btn {
    margin: 0 auto !important;
}

@media screen and (max-width: 1024px) {
    .why {
        padding: 32px 5%;
    }
    .why h2 {
        margin: 0 auto 12px;
    }
    .why p {
        font-size: 16px;
        line-height: 19px;
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        margin: 12px auto;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card p {
        font-size: 16px;
        line-height: 19px;
        padding: 5%;
        margin: 0 auto;
    }
    .cards {
        margin-top: 0;
    }
    .card {
        width: 100%;
        max-width: 300px;
        height: auto;
        padding: 24px 0;
        margin-left: 0;
        margin-right: 0;
    }
    .imgContainer {
        height: 75px;
        width: 75px;
        margin: 0 auto;
    }
    .flag h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 24px 0 16px;
    }
}